.card.card-outline-inverse
  .card-header
    %h4.m-b-0.text-white Formulario de Registro de Forma de Nariz
  .card-body
    .form-body
      %h3.box-title Datos
      %hr.m-t-0.m-b-40/
      = render 'form', nose_shape: @nose_shape
