.card.card-outline-inverse
  .card-header
    %h4.m-b-0.text-white Formulario de Edición de Grupo Sanguineo
  .card-body
    .form-body
      %h3.box-title Datos
      %hr.m-t-0.m-b-40/
      = render 'form', blood_type: @blood_type
