.row
  .col-lg-12
    .card.card-outline-inverse
      .card-header
        %h4.m-b-0.text-white Listado de Grupos Sanguineos
      .card-body
        %h4.card-title Exportar Datos
        %h6.card-subtitle Exportar datos a Clipboard , CSV, Excel, PDF e Imprimir
        .table-responsive.m-t-40
          %table#example23.display.nowrap.table.table-hover.table-striped.table-bordered{:cellspacing => "0", :width => "100%"}
            %thead
              %tr
                %th Nombre Grupo Sanguineo
                %th{:colspan => "1"} Acciones
            %tbody
              - @blood_types.each do |blood_type|
                %tr
                  %td= blood_type.name
                  %td
                    = render "shared/action_column_table", :object_path => edit_blood_type_path(blood_type), :object =>blood_type
        %br/
        = link_to 'Registrar Nuevo Grupo Sanguineo', new_blood_type_path, class: "btn btn-block btn-inverse"
= render "shared/table_helper"
