.card.card-outline-inverse
  .card-header
    %h4.m-b-0.text-white Formulario de Registro de Color de Ojos
  .card-body
    .form-body
      %h3.box-title Datos
      %hr.m-t-0.m-b-40/
      = render 'form', eye_color: @eye_color
