.card.card-outline-inverse
  .card-header
    %h4.m-b-0.text-white Color de Ojos
  .card-body
    .form-body
      %h3.box-title
        Datos del Color de Ojos :
      %hr.m-t-0.m-b-40/
      .col-md-12
        .form-group.row
          %strong.control-label.text-right.col-md-3.col-sm-12 Nombre:
          .col-md-9.col-sm-12
            = @eye_color.name
      .col-md-12.text-right
        = link_to 'Editar', edit_eye_color_path(@eye_color), class:"btn btn-inverse"
        = link_to 'Atrás', eye_colors_path , class:"btn btn-inverse"
