.card.card-outline-inverse
  .card-header
    %h4.m-b-0.text-white Tipo de Asistencia
  .card-body
    .form-body
      %h3.box-title
        Datos del Tipo de Asistencia :
      %hr.m-t-0.m-b-40/
      .col-md-12
        .form-group.row
          %strong.control-label.text-right.col-md-3.col-sm-12 Nombre:
          .col-md-9.col-sm-12
            = @type_of_assistance.name
      .col-md-12.text-right
        = link_to 'Editar', edit_type_of_assistance_path(@type_of_assistance), class:"btn btn-inverse"
        = link_to 'Atrás', type_of_assistances_path , class:"btn btn-inverse"
