.card.card-outline-inverse
  .card-header
    %h4.m-b-0.text-white Formulario de Edicion de Grado de Estudio
  .card-body
    .form-body
      %h3.box-title Datos
      %hr.m-t-0.m-b-40/
      = render 'form', study_grade: @study_grade
