.card.card-outline-inverse
  .card-header
    %h4.m-b-0.text-white Grado de Estudio
  .card-body
    .form-body
      %h3.box-title
        Datos del Grado de Estudio :
      %hr.m-t-0.m-b-40/
      .col-md-12
        .form-group.row
          %strong.control-label.text-right.col-md-3.col-sm-12 Nombre:
          .col-md-9.col-sm-12
            = @study_grade.name
      .col-md-12.text-right
        = link_to 'Editar', edit_study_grade_path(@study_grade), class:"btn btn-inverse"
        = link_to 'Atrás', study_grades_path , class:"btn btn-inverse"
